@model  IEnumerable<Department>

    @foreach(var v in Model)
    {
        <h4>@v.Name</h4> 
        @v.Code        
        @foreach(var a in v.Employers)
        {
    <h4>
        @a.SurName
        @a.FirstName
    </h4>
            
        }
        
    }  
    <a asp-action="EmployersList" asp-controller="Employe"><button class="btn btn-primary">Список сотрудников</button></a>
    