@model IEnumerable<Department>

<title>Список отделов</title>
<div class="container-fluid mt-3">

    <div id="accordion">
        @foreach (var v in Model)
        {

            <div class="card">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                        @v.Name                        
                    </a>
                </div>

            </div>          
         @foreach (var a in v.Employers)
            {
                <div class="card">
                    <div id="collapseOne" class="collapse showing" data-parent="#accordion">
                        <div>
                            @a.SurName
                            @a.FirstName
                        </div>
                    </div>
                </div>               
            }
        }
        </div>
    </div>

    <a asp-action="EmployersList" asp-controller="Employe"><button class="btn btn-primary">Список сотрудников</button></a>
