@model IEnumerable<Empoyee>

    <h2>
        @foreach (var v in Model)
        {
            <h4>@v.SurName</h4>
            <h4>@v.FirstName</h4> 
            @v.Position
            
        }

    </h2>

    <a asp-action="DepartmentList" asp-controller="Department"><button class="btn btn-primary" type="submit">Список отделов</button></a>
    <a asp-action="Create" asp-controller="Employe"><button class="btn btn-primary" type="submit">Добавить сотрудника</button></a>