@model Empoyee

    <form asp-action="UpdateDepartment" method="post">
        <div class="form-group">
            <label asp-for="ID"></label>
            <input asp-for="ID" class="form-control-sm" readonly />
        </div>
        <div class="form-group">
            <label asp-for="FirstName">Имя</label>
            <input asp-for="FirstName" class="form-control-sm" />
        </div>
        <div class="form-group">
            <label asp-for="SurName">Фамилия</label>
            <input asp-for="SurName" class="form-control-sm" />
        </div>
        <div class="form-group">
            <label asp-for="Patronymic">Отчество</label>
            <input asp-for="Patronymic" class="form-control-sm" />
        </div>
        <div class="form-group">
            <label asp-for="DocSeries">Серия паспорта</label>
            <input asp-for="DocSeries" class="form-control-sm" />
        </div>
        <div class="form-group">
            <label asp-for="DocNumber">Номер паспорта</label>
            <input asp-for="DocNumber" class="form-control-sm" />
        </div>
        <div class="form-group">
            <label asp-for="Position">Должность</label>
            <input asp-for="Position" class="form-control-sm" />
        </div>
        <div class="form-group">
            <label asp-for="DateOfBirth">Дата рождения</label>
            <input asp-for="DateOfBirth" class="form-control-sm" />
        </div>
        <div class=" text-center">
            <button class="btn btn-outline-primary" type="submit">Сохранить</button>
            <a asp-action="EmployersList" class="btn btn-outline-secondary">Отмена</a>
        </div>
    </form>